<!DOCTYPE html>
<html>
    <title> {{ page.title }} | {{ site.title }}</title>

    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

        <div class="container">
            <h1 style="margin-bottom:0px;"> Laura Watkins </h1>
            <nav>
                <ul>
          {% assign mypages = site.pages | sort: "order" %}
              {% for page in mypages %}
                  <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                      {% endfor %}

                  <!--
                  <li><a href="https://www.linkedin.com/in/lcwatkins">LinkedIn</a></li>
                  <li><a href="https://github.com/lcwatkins">GitHub</a></li>
                  -->
                </ul>
            </nav>

        </div><!-- /.container -->

      <body>
               {{ content }}
                 </body>

        <footer>
            <ul>
                <li><a href="https://www.linkedin.com/in/lcwatkins">LinkedIn</a></li>
                <li><a href="https://github.com/lcwatkins">GitHub</a></li>
            </ul>
        </footer>
</html>

